/*partner-block*/
section#main-img .partner-block {
    display: flex;
    justify-content: space-between;
    padding: 42px 0;
}

section#main-img img {
    width: 100%;
}

section#main-img .partner-block .logo {
    width: 70%;
}

section#main-img .partner-block .partners {
    width: 48%;
}

section#main-img .partner-block .logo img {
    max-width: 222px;
    max-height: 68px;
}

section#main-img .partner-block p.title {
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #a2a2a2;
    margin-bottom: 10px;
}

section#main-img .partner-block .partners > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#main-img .partner-block .partners img {
    max-width: 130px;
}

section#main-img {
    width: 100%;
    height: 100vh;
    padding-top: 55px;
}

section#main-img .slide-container {
    background-image: url(../img/main-img@2x.jpg);
    background-size: cover;
    background-position: 75%;
    width: 100%;
    height: calc(100% - 152px);
}

section#main-img .slide-container .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#main-img .slide-container .text-container {
    width: 100%;
    max-width: 686px;
    height: 250px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.28);
    padding: 25px 10px;
}

section#main-img .slide-container .text-container p.title {
    font-size: 72px;
    font-family: 'MuseoCyrl-500';
}

section#main-img .slide-container .text-container p.description {
    font-family: 'MuseoCyrl-500';
    font-size: 30px;
}

section#main-img .slide-container .text-container p {
    letter-spacing: 1.8px;
    color: #ffff00;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.8px;
}

/*corporate-adventure*/
section#corporate-adventure {
    padding: 40px 0;
}

section#corporate-adventure h1 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
    color: #555555;
    margin-bottom: 33px;
}

section#corporate-adventure img {
    height: 225px;
    width: 100%;
    object-fit: cover;
}

section#corporate-adventure .slick-slide {
    margin: 0 15px;
}

section#corporate-adventure .container-slider {
    margin-right: -15px;
    margin-left: -15px;
}

section#corporate-adventure .slick-track {
    margin: 0;
}

section#corporate-adventure p.title {
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #555555;
    margin-top: 15px;
}

section#corporate-adventure .slick-next:before, section#corporate-adventure .slick-prev:before {
    font-family: "Font Awesome 5 Free";
    color: #555555;
}

section#corporate-adventure .slick-next, section#corporate-adventure .slick-prev {
    top: 41%;
}
section#corporate-adventure .slick-next {
    right: -50px;
}
section#corporate-adventure .slick-prev {
    left: -50px;
}
section#corporate-adventure a:hover {
    text-decoration: none;
}
section#corporate-adventure a {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
section#corporate-adventure img:hover {
    transform: scale(1.1);
}
section#corporate-adventure a.all-proposition {
    border-radius: 2px;
    background-color: #ffff00;
    height: 56px;
    max-width: 350px;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    text-transform: uppercase;
}
section#corporate-adventure a.all-proposition:hover {
    background-color: #555555;
    color: #ffff00;
}
/*tours*/
#tours .container {
    position: relative;
}
#tours .filter-form {
    position: absolute;
    left: 0px;
    top: 85px;
    z-index: 3;
    display: none;
    opacity: 0;
    transition: all .2s linear;
}
#tours .filter-form.active {
    display: block;
    opacity: 1;
}
#tours .filter-form .header-form {
    width: 144px;
    height: 78px;
    padding: 10px 20px;
    background-color: #fff;
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: 0.8px;
    text-align: left;
    color: #555555;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
#tours .filter-form .header-form img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
#tours .filter-form .container-form {
    padding: 30px 20px;
    width: 100%;
    background-color: #fff;
}
#tours .filter-form .container-form p,
#tours .filter-form .container-form .type-tour,
#tours .filter-form .container-form .count-travel,
#tours .filter-form .container-form .complexity-text {
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
    margin-bottom: 20px;
}
#tours .qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
#tours .qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}
#tours .qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
/*Prevent text selection*/
#tours .counter-container span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #848484;
    border-radius: 2px;
    color: #848484;
}
#tours .counter-container span:hover {
    cursor: pointer;
    background-color: #848484;
    color: #fff;
}
#tours .counter-container input{
    text-align: center;
    border: 0;
    width: 30px;
}
#tours .counter-container .qt {
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}
#tours input::-webkit-outer-spin-button,
#tours input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#tours input:disabled{
    background-color:white;
}
#tours .counter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#tours .slidecontainer {
    height: 40px;
    margin-top: 50px;
}
#tours .counter-container img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}
#tours .filter-form .container-form .type {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    margin-bottom: 30px;
}
#tours .filter-form .container-form .type img {
    width: 40px;
    height: 40px;
}
#tours .filter-form .container-form .type img:hover {
    cursor: pointer;
}
#tours .filter-form .container-form .type-tour {
    text-transform: capitalize;
}
#tours .filter-form .container-form .input-date {
    display: grid;
    grid-template-columns: 45% 45% 30px;
    border: 2px solid #ffff00;
    border-radius: 8px;
}
#tours .filter-form .container-form .input-date>div {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#tours .ui-slider-horizontal {
    height: 8px;
    background-color: #a5a5a5;
    position: relative;
}
#tours .ui-slider-horizontal:after {
    content: '';
    width: 11px;
    height: 11px;
    left: -5px;
    display: inline-block;
    background-color: #a5a5a5;
    border-radius: 50%;
    top: -2.52px;
    position: absolute;
}
#tours .ui-slider-horizontal:before {
    content: '';
    width: 11px;
    height: 11px;
    right: -5px;
    display: inline-block;
    background-color: #a5a5a5;
    border-radius: 50%;
    top: -2.52px;
    position: absolute;
}
#tours .ui-slider-horizontal .ui-slider-range {
    background-color: #ffff00;
}
#tours .slidecontainer .ui-state-default,
#tours .slidecontainer .ui-widget-content .ui-state-default,
#tours .slidecontainer .ui-widget-header .ui-state-default,
#tours .slidecontainer .ui-button,
#tours .slidecontainer .ui-button.ui-state-disabled:hover,
#tours .slidecontainer ui-button.ui-state-disabled:active {
    height: 30px;
    width: 30px;
    top: -37px;
    margin-left: -13px;
    transform: rotate(-42deg);
    border-radius: 100% 100% 100% 0;
    border: 1px solid #707070;
    background-color: #ffff00;
    outline: none;
}
#tours .filter-form .container-form .input-date span.title {
    font-size: 10px;
    display: inline-block;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    font-family: 'MuseoSansCyrl-300';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    color: #555555;
}
#tours .filter-form .container-form .input-date span:not(.title) {
    font-size: 12px;
    letter-spacing: 0.6px;
    font-family: 'MuseoSansCyrl-300';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    color: #555555;
}
#tours .filter-form .container-form .date,
#tours .filter-form .container-form .date span {
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
}
#tours .filter-form .button-filter-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 0;
}
#tours .filter-form .button-filter-container button {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff00;
    border-radius: 2px;
    border: none;
    margin-bottom: 30px;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
    color: #555555;
    transition: all .2s linear;
}
#tours .filter-form .button-filter-container button.submit-filter-cancel {
    background-color: #f1f1f1;
    margin-bottom: 0!important;
}
#tours .filter-form .button-filter-container button:hover {
    background-color: #555555;
    color: #ffff00;
}
#tours .slide-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#tours .slide-text .start,
#tours .slide-text .end {
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    width: 35%;
    text-align: right;
    padding: 6px;
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    color: #000000;
}
#tours .slide-text .bullet>span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffff00;
    margin-right: 10px;
}
#tours .complexity-slider .slick-track {
    width: 930px!important;
}
#tours .complexity-slider .slick-track  .slick-slide {
    width: 310px!important;
}
#tours .complexity-slider .font-styles {
    height: 30px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.6);
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.7px;
    color: #000000;
}
#tours .complexity-slider .slick-next:before, #tours .complexity-slider .slick-prev:before {
    font-family: "Font Awesome 5 Free";
    color: #000;
}
#tours .complexity-slider .slick-next {
    right: 0;
    z-index: 10;
}
#tours .complexity-slider .slick-prev {
    left: 0;
    z-index: 10;
}
#tours .complexity-slider {
    margin-bottom: 30px;
}
#tours .slide-text .bullet>span:last-child {
    margin-right: 0px;
}
#tours .filter-form .container-form .input-date>div.input-date-start {
    cursor: pointer;
}
#tours .filter-form .container-form .input-date>div.input-date-end {
    align-items: flex-end;
    cursor: pointer;
}
#tours .filter-form .container-form .input-date>div.active {
    background-color: #ffff00;
}
#tours .filter-form .container-form .input-date>div {
    position: relative;
}
#tours .filter-form .container-form .input-date>div.click:after {
    content: "";
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5) inset;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}
#tours .filter-form .container-form .input-date>div.bullets {
    justify-content: center;
    align-items: center;
    border-left: 2px solid #ffff00;
}
#tours .filter-form .container-form .input-date>div.bullets span {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-bottom: 3px;
    border-radius: 50%;
    box-shadow: 0.5px 0.9px 3px 0 #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
}
#tours .calendar {
    margin: 20px 0;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
}
#tours .calendar .datepicker-inline {
    width: 100%!important;
}
#tours .calendar .table-condensed {
    width: 100%;
}
.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover {
    background-color: #ffff00;
    background-image: none;
    color: #555555;
    border-radius: 0;
}
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background-color: #ffff00;
    background-image: none;
    color: #555555;
    border-radius: 0;
}
#tours .calendar .datepicker td, #tours .calendar .datepicker th {
    height: 30px;
}
a:focus {
    outline: none;
}
#tours a:hover {
    text-decoration: none;
}
section#tours {
    padding: 30px 0;
}
section#tours h2 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
    color: #555555;
    margin-bottom: 30px;
}
section#tours .header-filter {
    height: 81px;
    background-color: #ffff00;
    background-image: url(../img/tours/bg-filter@2x.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#tours .single-title-nav {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: center;
    color: #555555;
    text-transform: uppercase;
}
section#tours .filter {
    position: relative;
}
section#tours .filter .menu-filter {
    background-color: #fff;
    padding: 10px 20px;
    position: absolute;
    left: 17px;
    top: 19px;
}
section#tours .filter .menu-filter img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 2;
}
section#tours .filter .menu-filter img:hover {
    cursor: pointer;
}
section#tours .filter .menu-filter img:last-child {
    margin-right: 0;
}
section#tours .slider-for .single-weath {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: 'MuseoSansCyrl-500';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #555555;
    border: 2px solid transparent;
    padding: 5px;
    position: relative;
}
section#tours .slider-for .single-weath.active {
    border: 2px solid #ffff00;
    border-radius: 8px;
}
section#tours .slider-for .single-weath:hover {
    cursor: pointer;
    outline: none;
    box-shadow: none;
}
section#tours .slider-for .single-weath i {
    color: #ffff00;
    position: absolute;
    top: 38%;
    right: 5px;
}
section#tours .slider-for .single-weath:not(.active) i {
    display: none;
}
section#tours .grid-tour:not(.active) {
    opacity: 0;
    display: none!important;
}
section#tours .slider-for .single-weath img {
    width: 77px;
    height: 70px;
    margin-right: 10px;
}
section#tours .slider-for .img-container {
    position: relative;
    overflow: hidden;
    height: 225px;
}
section#tours .slider-for .img-container img {
    width: 100%;
    height: 100%;
    position: relative;
}
section#tours .slider-for .img-container .title-img {
    position: absolute;
    right: 0;
    top: 120px;
}
section#tours .slider-for .img-container .title-img a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px 0 5px;
}
section#tours .slider-for .img-container .title-img img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
section#tours .slider-for .img-container .title-img date {
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffff00;
    margin-top: 5px;
    display: block;
}
section#tours .slider-for-row {
    margin-top: 40px;
}
section#tours .img-with-text {
    height: 48px;
    width: 170px;
    background-color: #ffff00;
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #4d4d4d;
}
section#tours .img-with-text:hover {
    text-decoration: none;
}
section#tours .grid-tour {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
section#tours .slider-for-row .title-tour {
    margin: 15px  0;
}
section#tours .slider-for-row .title-tour a {
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #555555;
}
section#tours .slider-for-row .title-tour a:hover {
    text-decoration: none;
}
section#tours .single-tour .price-img {
    position: absolute;
    top: 120px;
    left: -180px;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffff00;
    background-color: rgba(255,255,255,0.38);
    height: 48px;
    width: 160px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    opacity: 0;
}
section#tours .single-tour:hover .price-img {
    opacity: 1;
    left: 0;
}
section#tours .single-tour:hover img {
    transform: scale(1.1);
}
section#tours .single-tour p.sale {
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #e3ffa8;
}
section#tours .single-tour.get-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 55px;
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    text-align: left;
    color: #ffdd00;
    height: 225px;
    border-radius: 8px;
    border: 3px solid;
    text-transform: uppercase;
}
section#tours .single-tour.get-more:hover {
    text-decoration: none;
    color: #4d4d4d;
}
section#tours .single-tour.get-more i {
    font-size: 30px;
}
section#tours .slider-nav {
    width: 200px;
    margin: auto;
}
section#tours .slider-nav .slick-next:before, section#tours .slider-nav .slick-prev:before {
    color: #555555;
    font-family: "Font Awesome 5 Free";
    font-size: 22px;
}
section#tours .slider-nav .slick-next,
section#tours .slider-nav .slick-prev {
    top: 45%;
}
/*our-gids*/
section#our-gids {
    padding: 30px 0;
}
section#our-gids h3 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
    color: #555555;
    margin-bottom: 40px;
}
section#our-gids img {
    width: 100%;
    object-fit: cover;
}
section#our-gids .slick-next:before, section#our-gids .slick-prev:before {
    color: #555555;
    font-family: "Font Awesome 5 Free";
    font-size: 22px;
}
section#our-gids .slick-next, section#our-gids .slick-prev {
    top: 43%;
}
section#our-gids .single-gid {
    display: flex!important;
    justify-content: space-between;
}
section#our-gids .info-cont {
    width: 64%;
}
section#our-gids .single-gid .img-container {
    margin-right: 30px;
    width: 162px;
    height: 162px;
    overflow: hidden;
    border: 3px solid #ffff00;
    border-radius: 50%;
}
section#our-gids .single-gid {
    margin: 0 10px 70px 10px;
    padding-right: 25px;
}
section#our-gids .container-slider {
    margin-right: -10px;
    margin-left: -10px;
}
section#our-gids .single-gid p.title {
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #191919;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffff00;
}
section#our-gids .single-gid p.description {
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.4px;
    text-align: left;
    color: #555555;
}
/*soc*/
section#soc {
    margin: 30px 0;
}
section#soc .soc-block {
    height: 100px;
    background-color: #555555;
    display: flex;
    color: #fff;
    padding: 22px;
    justify-content: space-between;
    align-items: baseline;
}
section#soc .soc-block p.title {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
}
section#soc .soc-block a {
    border: 1px solid #fff;
    border-radius: 2px;
    display: inline-block;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
    transition: all .2s linear;
    height: 57px;
    width: 100%;
    max-width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15px;
}
section#soc .soc-block a:hover {
    text-decoration: none;
    color: #ffff00;
}
section#soc .soc-block .link {
    display: flex;
    width: 371px;
    justify-content: space-around;
}
/*response*/
section#response {
    padding: 30px 0;
}
section#response .single-response {
    border: 3px solid #ffff00;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 80px;
    display: grid!important;
    grid-template-columns: minmax(162px,20%) 75%;
    grid-column-gap: 70px;
}
section#response h3 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
    color: #555555;
    margin-bottom: 40px;
}
section#response .single-response p.title {
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #555555;
    margin-bottom: 15px;
}
section#response .single-response p.title-desc {
    font-family: 'MuseoSansCyrl-300';
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: left;
    color: #cccccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #ffff00;
}
section#response .single-response p.description {
    font-family: 'MuseoSansCyrl-300';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.4px;
    text-align: left;
    color: #555555;
}
section#response .img-container {
    height: 167px;
    width: 167px;
    overflow: hidden;
    border: 3px solid #ffff00;
    border-radius: 50%;
}
section#response .img-container img {
    width: 100%;
    object-fit: cover;
}
section#response .slick-next:before, section#response .slick-prev:before {
    color: #555555;
    font-family: "Font Awesome 5 Free";
    font-size: 22px;
}
section#response .slick-next {
   right: -50px;
}
section#response .slick-prev {
    left: -50px;
}
/*about-us*/
section#about-us {
    padding: 30px 0;
}
section#about-us h3 {
    font-family: 'MuseoSansCyrl-500';
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.9px;
    text-align: left;
    color: #555555;
    margin-bottom: 50px;
}
section#about-us p {
    font-family: 'MuseoSansCyrl-500';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.4px;
    text-align: left;
    color: #555555;
}
section#about-us img {
    width: 100%;
    transition: all .2s linear;
}
section#about-us .insta {
    margin-top: 80px;
}
section#about-us .insta > div {
    margin-bottom: 24px;
}
section#about-us .insta a {
    display: inline-block;
    width: 100%;
    height: 255px;
    overflow: hidden;
}
section#about-us .insta a:hover img {
    transform: scale(1.1);
}
section#about-us a.link {
    border-radius: 2px;
    background-color: #ffff00;
    height: 56px;
    width: 100%;
    max-width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoSansCyrl-500';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
    color: #555555;
    transition: all .2s linear;
    margin: 30px auto;
}
section#about-us a.link i {
    margin-right: 15px;
}
section#about-us a:hover {
    text-decoration: none;
    background-color: #555555;
    color: #ffff00;
}
/*mail*/
section#mail {
    margin: 20px 0 40px 0;
}
section#mail .cont-mail {
    background-color: #ffff00;
    background-image: url(../img/mail/bg@2x.png);
    background-position: center;
    background-size: cover;
    height: 480px;
    padding: 70px 80px;
}
section#mail p.title {
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-300';
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.2px;
    text-align: left;
    color: #555555;
}
section#mail p.description {
    font-family: 'MuseoSansCyrl-300';
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: left;
    color: #555555;
}
section#mail img {
    width: 100%;
}
section#mail .input-block {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    margin-top: 30px;
}
section#mail .input-block button {
    height: 47px;
    width: 170px;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-500';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffff00;
    background-color: #555555;
    border-radius: 2px;
}
section#mail .input-block input {
    border: 0px;
    background-color: #fff;
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #dddddd;
    width: 65%;
    margin-right: 30px;
    padding-left: 15px;
}

/*media*/
@media (max-width: 1199px) {
    section#corporate-adventure p.title,
    section#tours .slider-for-row .title-tour a{
        font-size: 21px;
    }
    section#corporate-adventure a.all-proposition {
        margin: 20px auto;
    }
    section#corporate-adventure .slick-next {
        right: -10px;
    }
    section#corporate-adventure .slick-prev {
        left: -10px;
    }
    section#tours .slider-for .single-weath img {
        width: 60px;
        height: 60px;
    }
    section#tours .single-tour.get-more {
        padding: 30px;
    }
    section#soc .soc-block p.title {
        font-size: 29px;
    }
    section#mail p.title {
        font-size: 42px;
    }
    section#mail p.description {
        font-size: 22px;
    }
    section#mail .cont-mail {
        height: 400px;
    }
    section#mail img {
        height: 100%;
        object-fit: contain;
    }
    #tours .complexity-slider .slick-track .slick-slide {
        width: 249px!important;
    }
    #tours .complexity-slider .slick-track {
        width: 747px!important;
    }
    #tours .filter-form .container-form {
        padding: 20px 5px;
    }
}
@media (max-width: 991px) {
    section#main-img {
        padding-top: 0;
    }
    section#main-img .partner-block {
        padding: 20px 1rem;
    }
    section#main-img .partner-block .partners {
        width: 90%;
    }
    section#main-img .slide-container .text-container {
        max-width: 600px;
    }
    section#main-img .slide-container .text-container p.title {
        font-size: 67px;
    }
    section#soc .soc-block p.title {
        font-size: 22px;
    }
    section#soc .soc-block a {
        font-size: 16px;
    }
    section#soc .soc-block {
        padding: 20px 10px;
    }
    section#soc .soc-block .link {
        width: 260px;
    }
    section#soc .soc-block a:first-child {
        margin-left: 0;
    }
    section#response .single-response {
        padding: 30px;
    }
    section#response .img-container {
        width: 160px;
        height: 160px;
    }
    section#response .single-response {
        grid-column-gap: 20px;
        grid-template-columns: minmax(162px,20%) 71%;
    }
    section#about-us img {
        height: 300px;
        object-fit: contain;
        margin-bottom: 15px;
    }
    section#about-us .insta img {
        height: 100%;
        object-fit: cover;
    }
    section#about-us .insta a {
        height: 240px;
    }
    section#about-us .insta {
        margin-top: 30px;
    }
    section#mail img {
        display: none;
    }
     section#tours .single-tour .price-img {
        left: 0;
        opacity: 1;
        width: 145px;
    }
    #tours .complexity-slider .slick-track .slick-slide {
        width: 680px!important;
    }
    #tours .complexity-slider .slick-track {
        width: 2040px!important;
    }
}
@media (max-width: 767px) {
    section#main-img .partner-block .logo {
        width: 33%;
    }
    section#main-img .partner-block .partners {
        width: 60%;
    }
    section#main-img .partner-block .partners img {
        max-width: 90px;
        margin-right: 10px;
    }
    section#main-img .slide-container {
        height: calc(100% - 105px);
    }
    section#main-img .slide-container .text-container {
        max-width: 100%;
        height: 230px;
    }
    section#main-img .slide-container .text-container p.title {
        font-size: 55px;
    }
    section#tours .single-tour.get-more {
        padding: 15px;
        font-size: 25px;
    }
    section#soc {
        margin: 15px 0;
    }
    section#soc .soc-block {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    section#response .single-response {
        grid-template-columns: 100%;
    }
    section#response .img-container {
        margin: 10px auto;
    }
    section#response .single-response p.title,
    section#response .single-response p.title-desc,
    section#response .single-response p.description {
        text-align: center;
    }
    section#mail p.description {
        font-size: 21px;
    }
    section#mail p.title {
        font-size: 38px;
    }
    section#mail .cont-mail {
        padding: 20px;
        height: auto;
    }
      section#tours .single-tour .price-img {
        top: 15px;
    }
    #tours .complexity-slider .slick-track .slick-slide {
        width: 500px!important;
    }
    #tours .complexity-slider .slick-track {
        width: 1500px!important;
    }
    section#tours .filter .menu-filter img {
        margin-right: 0;
    }
    section#tours .filter .menu-filter img:not(.filter-button) {
        display: none;
    }
    #tours .filter-form .header-form {
        margin-left: 10px;
    }
}
@media (max-width: 575px) {
    section#main-img .partner-block .partners {
        display: none;
    }
    section#tours .grid-tour {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
    }
    section#tours .single-tour.get-more i {
        margin-left: 15px;
    }
    section#our-gids .single-gid {
        flex-direction: column;
        align-items: center;
    }
    section#our-gids .info-cont {
        width: 100%;
    }
    section#our-gids .single-gid {
        margin: 0 10px 20px 10px;
         padding-right: 0px;
    }
    section#response .single-response {
        padding: 20px;
    }
    section#mail .input-block {
        padding-right: 0;
    }
    section#mail p.title {
        font-size: 28px;
        text-align: center;
    }
    section#mail p.description {
        font-size: 14px;
    }
    section#mail .input-block button {
        width: 140px;
        font-size: 14px;
    }
    section#soc .soc-block p.title {
        font-size: 21px;
    }
    section#tours .header-filter {
        justify-content: flex-end;
        height: 135px;
    }
    section#tours .slider-nav {
        margin: 10px auto;
    }
    section#main-img .slide-container .text-container p.title {
        font-size: 42px;
    }
    section#main-img .slide-container {
        height: calc(100% - 67px);
    }
    section#tours .single-tour .price-img {
        top: 120px;
    }
    section#tours .img-with-text {
        width: 145px;
    }
    section#tours .single-tour .price-img {
        width: 125px;
        padding-left: 10px;
    }
    #tours .filter-form {
        top: 75px;
    }
    #tours .complexity-slider .slick-track .slick-slide {
        width: 265px!important;
    }
    #tours .complexity-slider .slick-track {
        width: 795px!important;
    }
}
@media (max-width: 405px) {
    section#main-img .slide-container .text-container p.title {
        font-size: 30px;
    }
    section#main-img .slide-container .text-container p.description {
        font-size: 18px;
    }
    section#main-img .slide-container .text-container {
        height: auto;
    }
    section#our-gids .single-gid {
        margin: 0;
    }
    section#our-gids .single-gid p.description {
        text-align: justify;
        padding: 0 5px;
    }
    section#soc .soc-block p.title {
        text-align: center;
    }
    section#response .single-response {
        padding: 10px;
    }
    section#about-us img {
        height: 240px;
    }
    section#about-us p {
        text-align: justify;
    }
    section#about-us .insta > div {
        margin-bottom: 10px;
    }
    section#about-us .insta img {
        margin-bottom: 0;
    }
    section#corporate-adventure h1,
    section#tours h2,
    section#tours .single-title-nav,
    section#our-gids h3,
    section#response h3,
    section#about-us h3 {
        font-size: 28px;
    }
    section#mail p.title {
        font-size: 19px;
        text-align: justify;
    }
    section#mail p.description {
        font-size: 12px;
    }
    section#mail p.description > br {
        display: none;
    }
    section#mail .input-block button {
        width: 130px;
        font-size: 10px;
    }
    section#mail .input-block input {
        margin-right: 10px;
        font-size: 12px;
    }
    section#mail .cont-mail {
        padding: 20px 10px;
    }
    #tours .slide-text .bullet>span {
        margin-right: 5px;
    }
}
